* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 0.4rem;
    text-align: right;
}

input {
    text-align: right;
}

tr:hover {
    background-color: yellow;
}

.header {
    font-weight: bold;
}

.footer,
.header {
    background-color: skyblue;
}

.total {
    background-color: silver;
}

.total-footer {
    background-color: silver;
    font-size: 18px;
}